<section class="kitchen lines">
  <div class="container">
    <h1 class="title kitchen__title title--hidden">Про нашу кухню</h1>
    <div class="kitchen__chiefs">
      <div class="kitchen__chiefs__about">
        <h3 class="kitchen__chiefs__subtitle">Amet minim mollit non</h3>
        <h2 class="logo">MIMIHO</h2>
        <p class="kitchen__chiefs__description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>

      <picture class="kitchen__chiefs__picture">
        <source
          srcset="
            ./images/main/basic/kitchen-mob.jpg    1x,
            ./images/main/basic/kitchen-mob@2x.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <source
          srcset="
            ./images/main/basic/kitchen-tab.jpg    1x,
            ./images/main/basic/kitchen-tab@2x.jpg 2x
          "
          media="(max-width: 1279px)"
        />
        <source
          srcset="
            ./images/main/basic/kitchen-desk.jpg    1x,
            ./images/main/basic/kitchen-desk@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <img
          src="./images/main/basic/kitchen-mob.jpg"
          alt="Зображення кухаря в процесі приготування"
          class="kitchen__chiefs-img img-shadow"
        />
      </picture>
    </div>
    <div class="kitchen__ingredients">
      <picture class="kitchen__ingredients__picture">
        <source
          srcset="
            ./images/main/basic/kitchen2-mob.jpg    1x,
            ./images/main/basic/kitchen2-mob@2x.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <source
          srcset="
            ./images/main/basic/kitchen2-tab.jpg    1x,
            ./images/main/basic/kitchen2-tab@2x.jpg 2x
          "
          media="(max-width: 1279px)"
        />
        <source
          srcset="
            ./images/main/basic/kitchen2-desk.jpg    1x,
            ./images/main/basic/kitchen2-desk@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <img
          src="./images/main/basic/kitchen2-mob.jpg"
          alt="Зображення мяса для стейків"
          class="kitchen__ingredients-img img-shadow"
        />
      </picture>
      <p class="kitchen__ingredients__description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="carousel">
      <ul class="slider">
        <li class="slider-item">
          <picture>
            <source
              srcset="
                ./images/about-kitchen/mobile/k-slide.jpg    1x,
                ./images/about-kitchen/mobile/k-slide@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <source
              srcset="
                ./images/about-kitchen/tablet/k-slide.jpg    1x,
                ./images/about-kitchen/tablet/k-slide@2x.jpg 2x
              "
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/about-kitchen/desktop/k-slide.jpg    1x,
                ./images/about-kitchen/desktop/k-slide@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="./images/about-kitchen/mobile/k-slide.jpg"
              alt="Зображення приготування тіста"
              class="slider-img"
            />
          </picture>
        </li>
        <li class="slider-item">
          <picture>
            <source
              srcset="
                ./images/about-kitchen/mobile/k-slide2.jpg    1x,
                ./images/about-kitchen/mobile/k-slide2@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <source
              srcset="
                ./images/about-kitchen/tablet/k-slide2.jpg    1x,
                ./images/about-kitchen/tablet/k-slide2@2x.jpg 2x
              "
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/about-kitchen/desktop/k-slide2.jpg    1x,
                ./images/about-kitchen/desktop/k-slide2@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="./images/about-kitchen/mobile/k-slide2.jpg"
              alt="Зображення хінкалі"
              class="slider-img"
            />
          </picture>
        </li>
        <li class="slider-item">
          <picture>
            <source
              srcset="
                ./images/about-kitchen/mobile/k-slide3.jpg    1x,
                ./images/about-kitchen/mobile/k-slide3@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <source
              srcset="
                ./images/about-kitchen/tablet/k-slide3.jpg    1x,
                ./images/about-kitchen/tablet/k-slide3@2x.jpg 2x
              "
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/about-kitchen/desktop/k-slide3.jpg    1x,
                ./images/about-kitchen/desktop/k-slide3@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="./images/about-kitchen/mobile/k-slide3.jpg"
              alt="Зображення сніданку на столі"
              class="slider-img"
            />
          </picture>
        </li>
        <li class="slider-item">
          <picture>
            <source
              srcset="
                ./images/about-kitchen/mobile/k-slide4.jpg    1x,
                ./images/about-kitchen/mobile/k-slide4@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <source
              srcset="
                ./images/about-kitchen/tablet/k-slide4.jpg    1x,
                ./images/about-kitchen/tablet/k-slide4@2x.jpg 2x
              "
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/about-kitchen/desktop/k-slide4.jpg    1x,
                ./images/about-kitchen/desktop/k-slide4@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="./images/about-kitchen/mobile/k-slide4.jpg"
              alt="Зображення устриць"
              class="slider-img"
            />
          </picture>
        </li>
        <li class="slider-item">
          <picture>
            <source
              srcset="
                ./images/about-kitchen/mobile/k-slide5.jpg    1x,
                ./images/about-kitchen/mobile/k-slide5@2x.jpg 2x
              "
              media="(max-width: 1023pxb)"
            />
            <source
              srcset="
                ./images/about-kitchen/tablet/k-slide5.jpg    1x,
                ./images/about-kitchen/tablet/k-slide5@2x.jpg 2x
              "
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/about-kitchen/desktop/k-slide5.jpg    1x,
                ./images/about-kitchen/desktop/k-slide5@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="./images/about-kitchen/mobile/k-slide5.jpg"
              alt="Зображення чашки чаю"
              class="slider-img"
            />
          </picture>
        </li>
        <li class="slider-item">
          <picture>
            <source
              srcset="
                ./images/about-kitchen/mobile/k-slide6.jpg    1x,
                ./images/about-kitchen/mobile/k-slide6@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <source
              srcset="
                ./images/about-kitchen/tablet/k-slide6.jpg    1x,
                ./images/about-kitchen/tablet/k-slide6@2x.jpg 2x
              "
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/about-kitchen/desktop/k-slide6.jpg    1x,
                ./images/about-kitchen/desktop/k-slide6@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="./images/about-kitchen/mobile/k-slide6.jpg"
              alt="Зображення ресторану"
              class="slider-img"
            />
          </picture>
        </li>
        <li class="slider-item">
          <picture>
            <source
              srcset="
                ./images/about-kitchen/mobile/k-slide7.jpg    1x,
                ./images/about-kitchen/mobile/k-slide7@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <source
              srcset="
                ./images/about-kitchen/tablet/k-slide7.jpg    1x,
                ./images/about-kitchen/tablet/k-slide7@2x.jpg 2x
              "
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/about-kitchen/desktop/k-slide7.jpg    1x,
                ./images/about-kitchen/desktop/k-slide7@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="./images/about-kitchen/mobile/k-slide7.jpg"
              alt="Зображення ʼфранцузськогоʼ сніданку"
              class="slider-img"
            />
          </picture>
        </li>
        <li class="slider-item">
          <picture>
            <source
              srcset="
                ./images/about-kitchen/mobile/k-slide8.jpg    1x,
                ./images/about-kitchen/mobile/k-slide8@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <source
              srcset="
                ./images/about-kitchen/tablet/k-slide8.jpg    1x,
                ./images/about-kitchen/tablet/k-slide8@2x.jpg 2x
              "
              media="(max-width: 1279px)"
            />
            <source
              srcset="
                ./images/about-kitchen/desktop/k-slide8.jpg    1x,
                ./images/about-kitchen/desktop/k-slide8@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="./images/about-kitchen/mobile/k-slide8.jpg"
              alt="Зображення вівсянки"
              class="slider-img"
            />
          </picture>
        </li>
      </ul>
      <div class="carousel-btns">
        <button class="prev-btn btn swipe-button--active">
          <svg class="prev-btn-icon swipe-button--svg" width="32px" height="32px">
            <use href="./images/icon.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="next-btn btn swipe-button--active">
          <svg class="next-btn-icon swipe-button--svg" width="32px" height="32px">
            <use href="./images/icon.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
