<section class="menu" id="men-rest">
  <span class="line-d line-d--1 line-d--short"></span>
  <span class="line-d line-d--2 line-d--short"></span>
  <span class="line-d line-d--3 line-d--short"></span>
  <div class="container">
    <h2 class="menu__title">Меню ресторану</h2>

    <div class="menu__tables">
      <div class="menu__section1">
        <table>
          <caption class="menu__table-title menu__table-title--first">
            Гарячі страви
          </caption>
          <tbody>
            <tr>
              <td class="menu__dish">Борщ з телятини з квасолею</td>
              <td rowspan="2" class="menu__weight">400 г</td>
              <td rowspan="2" class="menu__price">240 грн</td>
            </tr>
            <tr>
              <td class="menu__dish-components">
                Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                помідори, зелень, сметана
              </td>
            </tr>

            <tr>
              <td class="menu__dish">Суп сирний з куркою</td>
              <td rowspan="2" class="menu__weight">400 г</td>
              <td rowspan="2" class="menu__price">200 грн</td>
            </tr>
            <tr>
              <td class="menu__dish-components">
                Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
              </td>
            </tr>

            <tr>
              <td class="menu__dish">Паста карбонара</td>
              <td rowspan="2" class="menu__weight">350 г</td>
              <td rowspan="2" class="menu__price">430 грн</td>
            </tr>
            <tr>
              <td class="menu__dish-components">
                Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
              </td>
            </tr>

            <tr>
              <td class="menu__dish">Стейк зі свинини</td>
              <td rowspan="2" class="menu__weight">400 г</td>
              <td rowspan="2" class="menu__price">500 грн</td>
            </tr>
            <tr>
              <td class="menu__dish-components">
                Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
                овочами
              </td>
            </tr>

            <tr>
              <td class="menu__dish">Горбуша в соусі з білого вина</td>
              <td rowspan="2" class="menu__weight">400 г</td>
              <td rowspan="2" class="menu__price">400 грн</td>
            </tr>
            <tr>
              <td class="menu__dish-components">
                Ніжна горбуша, вершковий соус на основі білого вина
              </td>
            </tr>
          </tbody>
        </table>

        <table>
          <caption class="menu__table-title">
            Гарніри та закуски
          </caption>
          <tbody>
            <tr>
              <td class="menu__dish">Запечені овочі</td>
              <td rowspan="2" class="menu__weight">200 г</td>
              <td rowspan="2" class="menu__price">230 грн</td>
            </tr>
            <tr>
              <td class="menu__dish-components">
                Кабачок, перець, помідор, баклажан
              </td>
            </tr>

            <tr>
              <td class="menu__dish">Картопля фрі</td>
              <td rowspan="2" class="menu__weight">150 г</td>
              <td rowspan="2" class="menu__price">160 грн</td>
            </tr>
            <tr>
              <td class="menu__dish-components">Картопля, соус томатний</td>
            </tr>

            <tr>
              <td class="menu__dish">Картопля по-селянськи</td>
              <td rowspan="2" class="menu__weight">150 г</td>
              <td rowspan="2" class="menu__price">160 грн</td>
            </tr>
            <tr>
              <td class="menu__dish-components">
                Картопля, спеції, соус пікантний
              </td>
            </tr>

            <tr>
              <td class="menu__dish">Хрумкі соління з бочки</td>
              <td rowspan="2" class="menu__weight">250 г</td>
              <td rowspan="2" class="menu__price">350 грн</td>
            </tr>
            <tr>
              <td class="menu__dish-components">
                Огірок солений, помідор квашений, квашена капуста, морква
                по-корейські
              </td>
            </tr>

            <tr>
              <td class="menu__dish">Крильця курячі в медовому соусі</td>
              <td rowspan="2" class="menu__weight">400 г</td>
              <td rowspan="2" class="menu__price">420 грн</td>
            </tr>
            <tr>
              <td class="menu__dish-components">
                Крильця курячі, гірчично-медовий соус, подається з морквою,
                селерою і соусом блючиз
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="menu__section2">
        <table>
          <caption class="menu__table-title menu__table-title--second">
            Салати
          </caption>
          <tbody>
            <tr>
              <td class="menu__dish">Цезар з куркою</td>
              <td rowspan="2" class="menu__weight">230 г</td>
              <td rowspan="2" class="menu__price">450 грн</td>
            </tr>
            <tr>
              <td class="menu__dish-components">
                Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
                соус цезар
              </td>
            </tr>

            <tr>
              <td class="menu__dish">Цезар з креветками</td>
              <td rowspan="2" class="menu__weight">230 г</td>
              <td rowspan="2" class="menu__price">300 грн</td>
            </tr>
            <tr>
              <td class="menu__dish-components">
                Тигрові креветки, листя салату, помідори чері, сир пармезан,
                грінки, соус цезар
              </td>
            </tr>

            <tr>
              <td class="menu__dish">Грецький салат</td>
              <td rowspan="2" class="menu__weight">230 г</td>
              <td rowspan="2" class="menu__price">280 грн</td>
            </tr>
            <tr>
              <td class="menu__dish-components">
                Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
                листя салату, соус
              </td>
            </tr>

            <tr>
              <td class="menu__dish">М’ясний салат</td>
              <td rowspan="2" class="menu__weight">230 г</td>
              <td rowspan="2" class="menu__price">300 грн</td>
            </tr>
            <tr>
              <td class="menu__dish-components">
                Куряче філе або свиняча вирізка, свіжі огірок, помідор,
                болгарський перець, соус ранч
              </td>
            </tr>
          </tbody>
        </table>

        <table>
          <caption class="menu__table-title">
            Десерти
          </caption>
          <tbody>
            <tr>
              <td class="menu__dish menu__dish--big">Торт наполеон</td>
              <td class="menu__weight menu__weight--big">230 г</td>
              <td class="menu__price menu__price--big">300 грн</td>
            </tr>

            <tr>
              <td class="menu__dish menu__dish--big">Торт маковий</td>
              <td class="menu__weight menu__weight--big">230 г</td>
              <td class="menu__price menu__price--big">300 грн</td>
            </tr>

            <tr>
              <td class="menu__dish menu__dish--big">Тірамісу</td>
              <td class="menu__weight menu__weight--big">120 г</td>
              <td class="menu__price menu__price--big">260 грн</td>
            </tr>
          </tbody>
        </table>

        <table>
          <caption class="menu__table-title">
            Напої
          </caption>
          <tbody>
            <tr>
              <td class="menu__dish menu__dish--big">Чай чорний/зелений</td>
              <td class="menu__weight menu__weight--big">500 мл</td>
              <td class="menu__price menu__price--big">100 грн</td>
            </tr>

            <tr>
              <td class="menu__dish menu__dish--big">Еспресо</td>
              <td class="menu__weight menu__weight--big">30 мл</td>
              <td class="menu__price menu__price--big">100 грн</td>
            </tr>

            <tr>
              <td class="menu__dish menu__dish--big">Американо</td>
              <td class="menu__weight menu__weight--big">150 мл</td>
              <td class="menu__price menu__price--big">100 грн</td>
            </tr>

            <tr>
              <td class="menu__dish menu__dish--big">Капучино</td>
              <td class="menu__weight menu__weight--big">200 мл</td>
              <td class="menu__price menu__price--big">160 грн</td>
            </tr>

            <tr>
              <td class="menu__dish menu__dish--big">Лате</td>
              <td class="menu__weight menu__weight--big">200 мл</td>
              <td class="menu__price menu__price--big">160 грн</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <button
      type="button"
      class="mimino-buttons mimino-buttons--bgblack mimino-buttons--menu tableOrderBtn"
    >
      Забронювати столик
    </button>
  </div>
</section>
