<section class="section about-hotel">
  <span class="line-d line-d--1"></span>
  <span class="line-d line-d--2"></span>
  <span class="line-d line-d--3"></span>
  <div class="container about-hotel__conteiner">
    <h2 class="visually-hidden">About our hotel</h2>
    <div>
      <p class="about-hotel__intro">Amet minim mollit non</p>
      <h3 class="about-hotel__header">MIMIHO</h3>
      <div class="about-hotel__badroom-conteiner">
        <p class="about-hotel__discription">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <picture>
          <source
            srcset="
              ./images/main/basic/3desk.jpg    1x,
              ./images/main/basic/3desk@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              ./images/main/basic/3tab.jpg    1x,
              ./images/main/basic/3tab@2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/main/basic/3mob.jpg    1x,
              ./images/main/basic/3mob@2x.jpg 2x
            "
            media="(max-width: 1023px)"
          />

          <img
            class="img about-hotel__badroom-img"
            src="./images/main/basic/3mob.jpg"
            alt="Badroom"
          />
        </picture>
      </div>
    </div>
    <div class="about-hotel__lobby">
      <p class="about-hotel__discription about-hotel__discription-lobby">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <picture>
        <source
          srcset="
            ./images/main/basic/4desk.jpg    1x,
            ./images/main/basic/4desk@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />

        <source
          srcset="
            ./images/main/basic/4tab.jpg    1x,
            ./images/main/basic/4tab@2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/main/basic/4mob.jpg    1x,
            ./images/main/basic/4mob@2x.jpg 2x
          "
          media="(max-width: 1023px)"
        />

        <img
          class="img about-hotel__lobby-img"
          src="./images/main/basic/4mob.jpg"
          alt="Lobby"
        />
      </picture>
    </div>
    <div class="swiper">
      <ul class="list swiper__photos">
        <li class="swiper__img--left">
          <picture>
            <source
              srcset="
                ./images/main/slide/main-hotel-mob-desk.jpg    1x,
                ./images/main/slide/main-hotel-mob-desk@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />

            <source
              srcset="
                ./images/main/slide/main-hotel-tab.jpg    1x,
                ./images/main/slide/main-hotel-tab@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />

            <source
              srcset="
                ./images/main/slide/main-hotel-mob-desk.jpg    1x,
                ./images/main/slide/main-hotel-mob-desk@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <img
              class="img swiper__img"
              src=" ./images/main/slide/main-hotel-mob-desk.jpg"
              alt="Living room"
            />
          </picture>
        </li>
        <li class="swiper__img--right">
          <picture>
            <source
              srcset="
                ./images/main/slide/main-hotel-2-mob-desk.jpg    1x,
                ./images/main/slide/main-hotel-2-mob-desk@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />

            <source
              srcset="
                ./images/main/slide/main-hotel-2-tab.jpg    1x,
                ./images/main/slide/main-hotel-2-tab@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />

            <source
              srcset="
                ./images/main/slide/main-hotel-2-mob-desk.jpg    1x,
                ./images/main/slide/main-hotel-2-mob-desk@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <img
              class="img swiper__img"
              src="./images/main/slide/main-hotel-2-mob-desk.jpg"
              alt="Living room"
            />
          </picture>
        </li>
        
      </ul>
    </div>
    <div>
      <ul class="list swiper__buttons">
        <li>
          <button class="swiper__buttons swiper__buttons--left swipe-button--active" type="button">
            <svg class="swipe-button--svg" width="32" height="32">
              <use href="./images/icon.svg#icon-arrow-left"></use>
            </svg>
          </button>
        </li>
        <li>
          <button class="swiper__buttons swiper__buttons--right swipe-button--active" type="button">
            <svg class="swipe-button--svg" width="32" height="32">
              <use href="./images/icon.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <span class="about-hotel__lines about-hotel__lines--start"></span>
  <span class="about-hotel__lines about-hotel__lines--centre"></span>
  <span class="about-hotel__lines about-hotel__lines--end"></span>
</section>
