<section class="contacts">
  <div class="container set-relative">
    <!-- <div class="line-1"></div>
    <div class="line-2"></div>
    <div class="line-3"></div> -->

    <h2 class="visually-hidden">Контакти</h2>
    <p class="contacts__name">mimiho</p>
    <p class="contacts__type">Ресторанно-готельний комплекс</p>
    <address>
      <ul class="contacts__items">
        <li class="contacts__rest">
          <p class="contacts__plate">Ресторан</p>
          <div class="contacts__field-rest">
            <a class="contacts__tel hhover" href="tel:+380955559533">
              <svg class="contacts__icon" width="24px" height="40px">
                <use href="/src/images/icon.svg#icon-phone"></use>
              </svg>
              095 555 95 33</a
            >
          </div>
        </li>
        <li class="contacts__hotel">
          <p class="contacts__plate">Готель</p>
          <div class="contacts__field-hotel">
            <a class="contacts__tel hhover" href="tel:+380668491089">
              <svg class="contacts__icon" width="24px" height="40px">
                <use href="/src/images/icon.svg#icon-phone"></use>
              </svg>
              066 849 10 89</a
            >
            <a class="contacts__tel hhover" href="tel:+380672758540"
              >067 275 85 40</a
            >
          </div>
        </li>
        <li class="contacts__location">
          <div class="contacts__field-location">
            <svg class="contacts__icon" width="24px" height="40px">
              <use href="/src/images/icon.svg#icon-location"></use>
            </svg>
            <a
              class="contacts__address hhover"
              href="https://goo.gl/maps/bwuJVtkKE6VhkYUK6"
            >
              Україна, м. Полтава, <br />
              вул. Маршала Бірюзова, 15
            </a>
          </div>
        </li>
      </ul>
      <iframe
        class="contacts__map"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d16407.48544196452!2d34.53177809113767!3d49.59017483937545!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0LLRg9C70LjRhtGPINCc0LDRgNGI0LDQu9CwINCR0ZbRgNGO0LfQvtCy0LAsIDE1LCDQn9C-0LvRgtCw0LLQsCwg0J_QvtC70YLQsNCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDM2MDAw!5e1!3m2!1suk!2sua!4v1670014246151!5m2!1suk!2sua"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </address>
  </div>
</section>
