<section class="section-amenities">
  <div class="container">
    <div class="amenities-box">
      <div class="amenities-box__item1">
        <h1 class="amenities-box__title">ЗРУЧНОСТІ У НОМЕРІ</h1>
        <p class="amenities-box__main-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <h3 class="amenities-box__subtitle">ЗАГАЛЬНІ</h3>
        <div class="amenities-box__text-box">
          <p class="amenities-box__text amenities-box__text--margin">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="amenities-box__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
        <h3 class="amenities-box__subtitle">ВАННА КІМНАТА</h3>
        <div class="amenities-box__text-box">
          <p class="amenities-box__text-bathroom amenities-box__text--margin">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="amenities-box__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
        <h3 class="amenities-box__subtitle">СПАЛЬНЯ</h3>
        <p class="amenities-box__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
        <h3 class="amenities-box__subtitle">КУХНЯ</h3>
        <div class="amenities-box__text-box">
          <p class="amenities-box__text amenities-box__text--margin">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
          <p class="amenities-box__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
        <h3 class="amenities-box__subtitle">МЕДІА</h3>
        <p class="amenities-box__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
        <button
          class="mimino-buttons mimino-buttons--booking mimino-buttons--booking-modal-mobile amenities-box__margin roomOrderBtn"
          type="button"
        >
          ОФОРМИТИ БРОНЮВАННЯ
        </button>
        <a class="return-link" href="./hotel.html"
          >Повернутися до перегляду номерів
          <svg class="return-link__arrow" width="24" height="24">
            <use
              class="return-link__arrow-icon"
              href="./images/icon.svg#icon-arrow-right"
            ></use></svg
        ></a>
      </div>
    </div>
  </div>
</section>
