<div class="line-d"></div>
<section class="room-for">
  <div class="container">
    <div class="room-for__container">
      <!-- Absolut img -->

      <div class="room-for__img">
        <picture>
          <source
            srcset="
              ./images/hotel/room-2/desk-room-for-2.jpg    1x,
              ./images/hotel/room-2/desk-room-for-2@2x.jpg 2x
            "
            media="(min-width: 1280px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/hotel/room-2/tabl-room-for-2.jpg    1x,
              ./images/hotel/room-2/tabl-room-for-2@2x.jpg 2x
            "
            media="(min-width: 1024px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/hotel/room-2/mob-room-for-2.jpg    1x,
              ./images/hotel/room-2/mob-room-for-2@2x.jpg 2x
            "
            type="image/jpeg"
          />

          <img
            src="./images/hotel/room-2/mob-room-for-2.jpg"
            alt="Двомісний номер готелю"
          />
        </picture>
      </div>

      <!-- Content -->

      <div class="room-for__text">
        <p class="room-for__sub-title">Amet minim mollit non</p>
        <p class="room-for__logo">MIMIHO</p>
        <h2 class="room-for__title">ТРЬОХМІСНИЙ НОМЕР</h2>
        <p class="room-for__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>

      <!-- Slider -->
      <div class="room-for__content">
        <div class="room-for__buttons">
          <a
            class="mimino-buttons mimino-buttons--bgblack mimino-buttons--link"
            href="./room.html"
            >Детальніше</a
          >
          <button
            class="mimino-buttons mimino-buttons--bgblack roomPriceBtn"
            type="button"
          >
            Переглянути ціни
          </button>
        </div>
        <div class="room-for__slider">
          <div class="room-for__slider-img">
            <picture>
              <source
                srcset="
                  ./images/hotel/room-2/desk-room-for-2-slide1.jpg    1x,
                  ./images/hotel/room-2/desk-room-for-2-slide1@2x.jpg 2x
                "
                media="(min-width: 1280px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./images/hotel/room-2/mob-tabl-room-for-2-slide1.jpg    1x,
                  ./images/hotel/room-2/mob-tabl-room-for-2-slide1@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <img
                src="./images/hotel/room-2/mob-tabl-room-for-2-slide1.jpg"
                alt="Стильна раковина"
              />
            </picture>
            <picture>
              <source
                srcset="
                  ./images/hotel/room-2/desk-room-for-2-slide2.jpg    1x,
                  ./images/hotel/room-2/desk-room-for-2-slide2@2x.jpg 2x
                "
                media="(min-width: 1280px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./images/hotel/room-2/mob-tabl-room-for-2-slide2.jpg    1x,
                  ./images/hotel/room-2/mob-tabl-room-for-2-slide2@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <img
                class="img-margin"
                src="./images/hotel/room-2/mob-tabl-room-for-2-slide2.jpg"
                alt="Вікнно з пейзажом та чашка кофе"
              />
            </picture>
          </div>
          <button
            class="room-for__slider-arrow swipe-button--active"
            type="button"
          >
            <svg
              class="room-for__icon swipe-button--svg"
              width="32"
              height="32"
            >
              <use href="./images/icon.svg#icon-arrow-left"></use>
            </svg>
          </button>
          <button
            class="room-for__slider-arrow swipe-button--active"
            type="button"
          >
            <svg
              class="room-for__icon swipe-button--svg"
              width="32"
              height="32"
            >
              <use href="./images/icon.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>

      <!-- Button -->
    </div>
  </div>
</section>
