<footer class="footer">
  <span class="line-d line-d--2"></span>
  <span class="line-d line-d--3"></span>
  <div class="footer container">
    <a href="./index.html" class="footer__logo"> MIMIHO </a>

    <div class="footer__nav">
      <ul class="footer__nav-list">
        <li>
          <a href="./index.html" class="footer__nav-link">Головна</a>
        </li>
        <li>
          <a href="./restaurant.html" class="footer__nav-link">Ресторан</a>
        </li>
        <li>
          <a href="./hotel.html" class="footer__nav-link">Готель</a>
        </li>
      </ul>

      <ul class="footer__nav-net">
        <li class="footer__net-item">
          <a
            href="https://www.instagram.com"
            class="footer__net-link"
            target="_blank"
          >
            <span class="footer__net-name">Instagram</span>
            <svg class="footer__net-icon" width="24" height="24">
              <use href="./images/icon.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer__net-item">
          <a
            href="https://www.facebook.com"
            class="footer__net-link"
            target="_blank"
          >
            <span class="footer__net-name">Facebook</span>
            <svg class="footer__net-icon" width="24" height="24">
              <use href="./images/icon.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer__net-item">
          <a
            href="https://web.telegram.org"
            class="footer__net-link"
            target="_blank"
          >
            <span class="footer__net-name">Telegram</span>
            <svg class="footer__net-icon" width="24" height="24">
              <use href="./images/icon.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
