.container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    // outline: 2px solid tomato;

    @media screen and (min-width: $mobile){
        width: $mobile;
    }
    @media screen and (min-width: $tablet){
        width: $tablet;
        padding-left: 47px;
        padding-right: 47px;
    }
    @media screen and (min-width: $desktop){
        width: $desktop;   
        padding-left: 85px;
        padding-right: 85px;     
    }
}
