.menu {
    padding: 32px 0;
    background-color: $secondary-bg;

    @media (min-width: 1024px) {
        padding: 58px 0 40px 0;
    }

    @media (min-width: 1024px) {
        padding-bottom: 60px;
    }

    &__title {
        margin-bottom: 32px;

        font-family: 'TimesNewRoman', Times, serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 1.15;
        text-transform: uppercase;
        text-align: left;

        color: $black;

        @media (min-width: 1024px) {
            margin-bottom: 40px;
        }
    }

    &__tables {
        @media (min-width: 1024px) {
            display: flex;
            justify-content: center;
        }
    }

    &__section1 {
        @media (min-width: 1024px) {
            display: inline-flex;
            flex-direction: column;
            margin-right: 87px;            
        }

        @media (min-width: 1280px) {
            margin-right: 142px;
        }
    }
    
    &__section2 {
        @media (min-width: 1024px) {
            display: inline-flex;
            flex-direction: column;
        }
    }

    &__table-title {
        margin: 16px 0;

        font-family: 'TimesNewRoman', Times, serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: left;

        color: $black;
            
        &--first {
            margin-top: 0;
        }

        @media (min-width: 1024px) {
            margin: 20px 0;
            
            &--first,
            &--second {
                margin-top: 0;
            }
        }

        @media (min-width: 1280px) {
            font-size: 24px;
            line-height: 1.16;
        }
    }

    &__dish {
        width: 226px;
        padding-bottom: 4px;       

        font-weight: 500;
        font-size: 14px;
        line-height: 1.21;
        letter-spacing: 0.02em;
        text-align: left;
        
        color: $black;

        &--big {
            padding-bottom: 11px;
        }

        @media (min-width: 1024px) {
            width: 229px;
        }          

        @media (min-width: 1280px) {
            width: 293px;
            font-size: 16px;
            line-height: 1.25;

            &--big {
                padding-bottom: 12px;
            }
        }
    }

    &__weight {
        padding-left: 21px;

        font-weight: 300;
        font-size: 14px;
        line-height: 1.21;
        letter-spacing: 0.02em;
        text-align: left;
        
        color: $black;

        &--big {
            padding-bottom: 11px;
        }

        @media (min-width: 1024px) {
            padding-left: 39px;    
        }

        @media (min-width: 1280px) {
            padding-left: 26px;

            &--big {
                padding-bottom: 12px;
            }
        }
    }

    &__price {
        padding-left: 21px;
  
        font-weight: 700;
        font-size: 14px;
        line-height: 1.21;
        letter-spacing: 0.02em;
        text-align: right;

        color: $black;

        &--big {
            padding-bottom: 11px;
        }

        @media (min-width: 1024px) {
            padding-left: 45px;
        }

        @media (min-width: 1280px) {
            padding-left: 58px;
            
            &--big {
                padding-bottom: 12px;
            }
        }
    }

    &__dish-components {
        padding-bottom: 8px;

        font-weight: 400;
        font-size: 10px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: left;
        
        color: $black;

        @media (min-width: 1024px) {
            padding-right: 4px;
        }
        
        @media (min-width: 1280px) {
            padding-right: 31px;
            padding-bottom: 12px;
        }
    }
}

.mimino-buttons--menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 21px auto 0 auto;
    cursor: pointer;

    @media (min-width: 1024px) {
        margin: 52px 0 0 auto;   
    }
    
    @media (min-width: 1280px) {
        margin: 31px 0 0 auto;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 0;  
    // border: 1px solid tomato;
}
tr, td {
    border: 0;
    // border: 1px solid tomato;
}

 