// -------------About uor hotel-----------------

.about-hotel {
  position: relative;

  padding-top: 18px;
  padding-bottom: 20px;
  background-color: $primary-bg;

  @media screen and (min-width: $tablet) {
    padding-top: 120px;
    padding-bottom: 32px;
  }

  @media screen and (min-width: $desktop) {
    padding-bottom: 50px;
  }

  &__conteiner {
    position: relative;
    z-index: 1;
  }

  &__intro {
    margin-bottom: 6px;

    text-align: end;
    font-family: 'TimesNewRoman', Times, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;

    color: #b4b4b4;

    @media screen and (min-width: $tablet) {
      margin-bottom: 4px;
      font-size: 32px;
      line-height: 1.15;
    }
  }

  &__header {
    margin-bottom: 16px;

    direction: rtl;
    text-indent: -0.3em;
    font-family: 'Film P3', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.08;
    letter-spacing: 0.3em;

    color: #494848;

    @media screen and (min-width: $tablet) {
      font-size: 64px;
      line-height: 1.07;
    }


    @media screen and (min-width: 1280px) {
      color: $secondary-text-logo;
      margin-bottom: 24px;
    }
  }

  // ----------- Hotel badroom------------------

  &__badroom-conteiner {
    position: relative;

    margin-bottom: 32px;

    @media screen and (min-width: $tablet) {
      display: flex;
      flex-direction: row-reverse;

      margin-bottom: 338px;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 331px;
    }
  }

  &__discription {
    width: 242px;
    margin-left: auto;

    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;

    color: #5f5f5f;

    @media screen and (max-width: 1023px) {
      margin-bottom: 28px;
    }

    @media screen and (min-width: $tablet) {
      width: 419px;
      height: 80px;

      font-size: 16px;
      line-height: 20px;
    }

    @media screen and (min-width: $desktop) {
      width: 488px;
      height: 88px;
    }
  }

  &__badroom-img {
    background: #dadada;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;

    @media screen and (min-width: $tablet) {
      position: absolute;
      top: 0;
      left: 46px;

      transform: translateY(-50%);
    }

    @media screen and (min-width: $desktop) {
      left: 67px;
    }
  }

  // -------------Hotel lobby-----------------

  &__lobby {
    position: relative;

    display: flex;

    @media screen and (max-width: 1023px) {
      margin-bottom: 32px;
    }
  }

  &__discription-lobby {
    width: 163px;
    height: 120px;
    margin-right: 21px;
    margin-top: auto;
    margin-bottom: auto;

    color: $secondary-text;

    @media screen and (min-width: $tablet) {
      width: 312px;
      height: 122px;
      margin-top: 0;
      margin-bottom: 154px;
      margin-left: 220px;
      margin-right: auto;
    }

    @media screen and (min-width: $desktop) {
      margin-left: 294px;
      margin-bottom: 116px;
    }
  }

  &__lobby-img {
    background: #dadada;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;

    @media screen and (min-width: $tablet) {
      position: absolute;
      top: -196px;
      right: 0;
    }

    @media screen and (min-width: $desktop) {
      top: -169px;
    }
  }

  // ----------------Swiper--------------

  .swiper {
    margin-bottom: 20px;

    &__photos {
      display: flex;
      gap: 20px;

      @media screen and (max-width: 1023px) {
        transform: translateX(-50%);
      }

      @media screen and (min-width: $tablet) {
        gap: 40px;

        margin-bottom: 32px;
      }
    }

    &__img {
      background: #dadada;
      box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
      border-radius: 2px;

      @media screen and (max-width: 1023px), (min-width: $desktop) {
        max-width: 245px;
      }
    }

    &__buttons {
      display: flex;
      align-items: center;
      padding: 0;
      gap: 32px;

      &--left {
        background-color: inherit;
        border: none;
      }

      &--right {
        background-color: inherit;
        border: none;
      }
    }
  }
}
  // ---------------Lines-----------------

// -----------Utils-----------------

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}